<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <%- include('./partials/nav', {user: user}); %>
    <div class="resultsDiv">
      <h2>Results</h2>
      <% if(!user){ %>
        <h3>Guest User</h3>
      <% } else { %>
        <h3><%= user.username%></h3>
      <% } %>

      <h3>You got <%= score %> out of <%= totalQuestions %> questions correct!</h3>
      <% var percent = Math.round(score/totalQuestions*100 * 100) / 100; %>
      <h3>Percentage: <%= percent %>%</h3>
    </div>
  </body>
</html>
